# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
env/
venv/
.venv/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# IDE-specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# MacOS
.DS_Store
